<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="jumbotron">
            <h1 class="display-4">Live Code 4 Zenfox</h1>
            <p class="lead">Good Luck</p>
    </div>
    <%- include('../partials/script.ejs') %>
</body>
</html>